@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;

}

img {
  width: 600px;
  padding-bottom: 20px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 12px;
  font-size: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header{
  display: flex;
  justify-content: space-between;
  padding:10px;

}
.buttons{
  padding-top: 20px;
}

.left-links, .right-links{
  display: flex;
  list-style: none;
  gap:15px;
  padding:0;


}

.content{
  text-align: center;
  padding: 15px;
  margin: 10px;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #eeeeee;
  padding: 10px;
}


a{
  color: grey;
  text-decoration: none;
}