.button {
  font-size: 24px;
  font-family: Helvetica, sans-serif, 'Times New Roman', Times
}

.button.uno {
  background-color: black;
  color: white;
}

.button.dos{
  background-color: yellow;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif
}